$primaryColor: rgb(2, 133, 173);
$baseColor: rgb(208, 244, 255);
$accentColor: yellow;

@font-face {
    font-family: raleway;
    src: url('./fonts/Raleway-Light.ttf');
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: raleway;
}

.App{
    background-color: $baseColor;
    min-height: 100vh;

    header{
        padding: .5rem;
        background-color: $primaryColor;
        display: flex;
        justify-content: space-between;
        align-items: center;

        .logo{
            h1{
                span.work{
                    font-weight: 600;
                    color: $accentColor;
                }
                span.flow{
                    color: #fff;
                }
            }
        }

        nav{
            a{
                color: yellow;
                padding: 0 .5rem;
            }
        }
    }

    .container{
        padding: 2rem;
        background-color: $primaryColor;
        width: 40%;
        margin: 2rem auto;
        color: #fff;
        position: relative;

        .progress{
            width: 100%;
            height: .5rem;
            background-color: $baseColor;
            margin: 1rem 0;


            .progress-indicator{
                height: 100%;
                background-color: yellow;
                transition: width 0.5s ease-in-out;
            }
        }

        .deleteDialog-container, .addmilestone-dialog-container{
            width: 100%;
            height: 100%;
            display: none;
            justify-content: center;
            align-items: center;
            background-color: rgba(0, 0, 0, 0.3);
            position: absolute;
            left: 0;
            top: 0;

            .addmilestone-dialog, .deleteDialog{
                background-color: #fff;
                color: black;
                width: 40%;
                padding: 1rem;
    
                div{
                    display: flex;
                    justify-content: space-between;
    
                    button{
                        border: none;
                        padding: .5rem;
                        margin: .5rem 0;
                        cursor: pointer;
                        background-color: $primaryColor;
                        color: #fff;
                        width: 4rem;
                    }
                    button:hover{
                        color: yellow;
                    }
                }
            }
        }

        .active{
            display: flex;
        }

        .menu{
            width: 100%;
            display: flex;
            justify-content: space-between;
            margin: 2rem 0;

            span{
                font-weight: 600;
                width: 100%;
                padding: 1rem;
                cursor: pointer;
            }
            span:hover{
                color: yellow;
            }
            span.active{
                color: yellow;
                border-bottom: 2px solid yellow;
            }

        }
        
        form{
            input[type="text"]{
                background-color: transparent;
                padding: .5rem;
                border: 1px solid #fff;
                outline: none;
                color: #fff;
            }
            input::placeholder{
                color: #fff;
                opacity: 1;
            }

            button{
                background-color: $accentColor;
                padding: .5rem;
                border: none;
                color: black;
                font-weight: 600;
                cursor: pointer;
            }
            button:hover{
                background-color: #fff;
                color: $primaryColor;
            }
        }

        ul{
            li{
                list-style: none;
                padding:0.5rem 0;
                display: flex;
                justify-content: space-between;
                width: 100%;
                animation: fadeIn 0.5s ease-in-out;

                input[type="checkbox"]{
                    cursor: pointer;
                }
                i{
                    cursor: pointer;
                    margin-left: 1rem;
                }

            }
            li.done{
                color: yellow;
            }
        }
    }
}
@keyframes fadeIn {
    0%{
        opacity: 0;
        transform: translateY(-10px);
    }
    100%{
        opacity: 1;
        transform: translateY(0);
    }
}

// @keyframes slideRight {
    
// }