@font-face {
  font-family: raleway;
  src: url("./fonts/Raleway-Light.ttf");
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: raleway;
}

.deleteDialog-container,
.addmilestone-dialog-container,
.deleteMiletoneDialog-container {
  width: 100%;
  height: 100%;
  display: none;
  justify-content: center;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.3);
  position: absolute;
  left: 0;
  top: 0;
}
.deleteDialog-container .addmilestone-dialog,
.deleteDialog-container .deleteDialog,
.addmilestone-dialog-container .addmilestone-dialog,
.addmilestone-dialog-container .deleteDialog,
.deleteMiletoneDialog-container .addmilestone-dialog,
.deleteMiletoneDialog-container .deleteDialog {
  background-color: #fff;
  color: black;
  width: 40%;
  padding: 1rem;
}
.deleteDialog-container .addmilestone-dialog div,
.deleteDialog-container .deleteDialog div,
.addmilestone-dialog-container .addmilestone-dialog div,
.addmilestone-dialog-container .deleteDialog div,
.deleteMiletoneDialog-container .addmilestone-dialog div,
.deleteMiletoneDialog-container .deleteDialog div {
  display: flex;
  justify-content: space-between;
}
.deleteDialog-container .addmilestone-dialog div button,
.deleteDialog-container .deleteDialog div button,
.addmilestone-dialog-container .addmilestone-dialog div button,
.addmilestone-dialog-container .deleteDialog div button,
.deleteMiletoneDialog-container .addmilestone-dialog div button,
.deleteMiletoneDialog-container .deleteDialog div button {
  border: none;
  padding: 0.5rem;
  margin: 0.5rem 0;
  cursor: pointer;
  background-color: rgb(2, 133, 173);
  color: #fff;
  width: 48%;
}
.deleteDialog-container .addmilestone-dialog div button:hover,
.deleteDialog-container .deleteDialog div button:hover,
.addmilestone-dialog-container .addmilestone-dialog div button:hover,
.addmilestone-dialog-container .deleteDialog div button:hover,
.deleteMiletoneDialog-container .addmilestone-dialog div button:hover,
.deleteMiletoneDialog-container .deleteDialog div button:hover {
  color: yellow;
}

.App {
  background-color: rgb(208, 244, 255);
  min-height: 100vh;
}
.App header {
  padding: 0.5rem;
  background-color: rgb(2, 133, 173);
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.App header .logo h1 span.work {
  font-weight: 600;
  color: yellow;
}
.App header .logo h1 span.flow {
  color: #fff;
}
.App header nav a {
  color: yellow;
  padding: 0 0.5rem;
}
.App .container {
  padding: 2rem;
  background-color: rgb(2, 133, 173);
  width: 40%;
  margin: 2rem auto;
  color: #fff;
  position: relative;
}
.App .container .progress {
  width: 100%;
  height: 0.5rem;
  background-color: rgb(208, 244, 255);
  margin: 1rem 0;
}
.App .container .progress .progress-indicator {
  height: 100%;
  background-color: yellow;
  transition: width 0.5s ease-in-out;
}
.App .container .deleteDialog-container,
.App .container .addmilestone-dialog-container,
.App .container .deleteMiletoneDialog {
  width: 100%;
  height: 100%;
  display: none;
  justify-content: center;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.3);
  position: absolute;
  left: 0;
  top: 0;
}
.App .container .deleteDialog-container .addmilestone-dialog,
.App .container .deleteDialog-container .deleteDialog,
.App .container .addmilestone-dialog-container .addmilestone-dialog,
.App .container .addmilestone-dialog-container .deleteDialog,
.App .container .deleteMiletoneDialog .addmilestone-dialog,
.App .container .deleteMiletoneDialog .deleteDialog {
  background-color: #fff;
  color: black;
  width: 40%;
  padding: 1rem;
}
.App .container .deleteDialog-container .addmilestone-dialog div,
.App .container .deleteDialog-container .deleteDialog div,
.App .container .addmilestone-dialog-container .addmilestone-dialog div,
.App .container .addmilestone-dialog-container .deleteDialog div,
.App .container .deleteMiletoneDialog .addmilestone-dialog div,
.App .container .deleteMiletoneDialog .deleteDialog div {
  display: flex;
  justify-content: space-between;
}
.App .container .deleteDialog-container .addmilestone-dialog div button,
.App .container .deleteDialog-container .deleteDialog div button,
.App .container .addmilestone-dialog-container .addmilestone-dialog div button,
.App .container .addmilestone-dialog-container .deleteDialog div button,
.App .container .deleteMiletoneDialog .addmilestone-dialog div button,
.App .container .deleteMiletoneDialog .deleteDialog div button {
  border: none;
  padding: 0.5rem;
  margin: 0.5rem 0;
  cursor: pointer;
  background-color: rgb(2, 133, 173);
  color: #fff;
  width: 48%;
}
.App .container .deleteDialog-container .addmilestone-dialog div button:hover,
.App .container .deleteDialog-container .deleteDialog div button:hover,
.App .container .addmilestone-dialog-container .addmilestone-dialog div button:hover,
.App .container .addmilestone-dialog-container .deleteDialog div button:hover,
.App .container .deleteMiletoneDialog .addmilestone-dialog div button:hover,
.App .container .deleteMiletoneDialog .deleteDialog div button:hover {
  color: yellow;
}
.App .container .active {
  display: flex;
}
.App .container .menu {
  width: 100%;
  display: flex;
  justify-content: space-between;
  margin: 2rem 0;
}
.App .container .menu span {
  font-weight: 600;
  width: 100%;
  padding: 1rem;
  cursor: pointer;
}
.App .container .menu span:hover {
  color: yellow;
}
.App .container .menu span.active {
  color: yellow;
  border-bottom: 2px solid yellow;
}
.App .container form input[type=text] {
  background-color: transparent;
  padding: 0.5rem;
  border: 1px solid #fff;
  outline: none;
  color: #fff;
}
.App .container form input::-moz-placeholder {
  color: #fff;
  opacity: 1;
}
.App .container form input::placeholder {
  color: #fff;
  opacity: 1;
}
.App .container form button {
  background-color: yellow;
  padding: 0.5rem;
  border: none;
  color: black;
  font-weight: 600;
  cursor: pointer;
}
.App .container form button:hover {
  background-color: #fff;
  color: rgb(2, 133, 173);
}
.App .container ul li {
  list-style: none;
  padding: 0.5rem 0;
  display: flex;
  justify-content: space-between;
  width: 100%;
  animation: fadeIn 0.5s ease-in-out;
}
.App .container ul li input[type=checkbox] {
  cursor: pointer;
}
.App .container ul li i {
  cursor: pointer;
  margin-left: 1rem;
}
.App .container ul li.done {
  color: yellow;
}
.App .objectives-container .addmilestone-dialog-container .addmilestone-dialog {
  width: 65%;
}
.App .objectives-container .addmilestone-dialog-container .addmilestone-dialog h2 {
  text-align: center;
}
.App .objectives-container .addmilestone-dialog-container .addmilestone-dialog form {
  width: 100%;
}
.App .objectives-container .addmilestone-dialog-container .addmilestone-dialog form input {
  margin: 1rem 0;
  padding: 0.5rem;
  width: 100%;
}
.App .objectives-container .deleteMilestoneDialog-container {
  width: 100%;
  height: 100%;
  display: none;
  justify-content: center;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.3);
  position: absolute;
  left: 0;
  top: 0;
}
.App .objectives-container .deleteMilestoneDialog-container .deleteMilestoneDialog {
  background-color: #fff;
  color: black;
  width: 40%;
  padding: 1rem;
}
.App .objectives-container .deleteMilestoneDialog-container .deleteMilestoneDialog div {
  display: flex;
  justify-content: space-between;
}
.App .objectives-container .deleteMilestoneDialog-container .deleteMilestoneDialog div button {
  border: none;
  padding: 0.5rem;
  margin: 0.5rem 0;
  cursor: pointer;
  background-color: rgb(2, 133, 173);
  color: #fff;
  width: 48%;
}
.App .objectives-container .deleteMilestoneDialog-container .deleteMilestoneDialog div button:hover {
  color: yellow;
}
.App .objectives-container .active {
  display: flex;
}
.App .objectives-container ul li {
  display: flex;
  flex-direction: column;
}
.App .objectives-container ul li .objective {
  display: flex;
  flex-direction: column;
  background-color: rgb(0, 61, 80);
  padding: 0.5rem;
  cursor: pointer;
}
.App .objectives-container ul li .objective .objective-container {
  display: flex;
  justify-content: space-between;
}
.App .objectives-container ul li .objective .objective-container .objective-header span {
  margin-left: 0.5rem;
}
.App .objectives-container ul li .objective .objective-container .objective-controls .rotate {
  transform: rotate(180deg);
  animation: rotate 0.5s ease;
}
.App .objectives-container ul li .objective .objective-container .objective-controls .rotated-back {
  transform: rotate(0deg);
  animation: rotated-back 0.5s ease;
}
.App .objectives-container ul li .objective .objective-progress {
  width: 100%;
  height: 0.2rem;
  background-color: rgb(208, 244, 255);
  margin: 1rem 0;
}
.App .objectives-container ul li .objective .objective-progress .progress-indicator {
  height: 100%;
  background-color: yellow;
  transition: width 0.5s ease-in-out;
}
.App .objectives-container ul li .milestones {
  margin-left: 1rem;
  overflow: hidden;
}
.App .objectives-container ul li .milestones .milestone {
  display: flex;
  justify-content: space-between;
  animation: fadeIn 0.5s ease-in-out;
  padding: 0.5rem 0;
}
.App .objectives-container ul li .milestones .milestone .left {
  display: flex;
  align-items: center;
}
.App .objectives-container ul li .milestones .done {
  color: yellow;
}
.App .objectives-container ul li .closed {
  height: 0;
}
@keyframes fadeIn {
  0% {
    opacity: 0;
    transform: translateY(-10px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}
@keyframes rotate {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(180deg);
  }
}
@keyframes rotated-back {
  0% {
    transform: rotate(180deg);
  }
  100% {
    transform: rotate(0deg);
  }
}/*# sourceMappingURL=App.css.map */